<configuration>
    <springProfile name="test,it">
        <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
            <encoder>
                <pattern>%date{ISO8601} %level %thread %logger{20} %file:%line - %msg%n</pattern>
            </encoder>
            <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
                <level>warn</level>
            </filter>
        </appender>

        <appender name="FILE" class="ch.qos.logback.core.FileAppender">
            <file>log/oxford3k-test.log</file>
            <append>false</append>
            <immediateFlush>false</immediateFlush>
            <encoder>
                <pattern>%date{ISO8601} %level %thread %logger{20} %file:%line - %msg%n</pattern>
            </encoder>
        </appender>

        <root level="DEBUG">
            <appender-ref ref="CONSOLE"/>
            <appender-ref ref="FILE"/>
        </root>
    </springProfile>

    <springProfile name="qa">
        <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
            <encoder>
                <pattern>%date{ISO8601} %level %thread %logger{20} %file:%line - %msg%n</pattern>
            </encoder>
            <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
                <level>warn</level>
            </filter>
        </appender>

        <appender name="FILE" class="ch.qos.logback.core.FileAppender">
            <file>log/oxford3k.log</file>
            <append>false</append>
            <immediateFlush>true</immediateFlush>
            <encoder>
                <pattern>%date{ISO8601} %level %thread %logger{20} %file:%line - %msg%n</pattern>
            </encoder>
        </appender>

        <root level="info">
            <appender-ref ref="CONSOLE"/>
            <appender-ref ref="FILE"/>
        </root>
        <logger name="org.hibernate.stat" level="DEBUG" />
    </springProfile>

    <springProfile name="prod,preview">
        <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
            <encoder>
                <pattern>%date{ISO8601} %level [%thread] %logger{30} - %msg%n</pattern>
            </encoder>
            <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
                <level>info</level>
            </filter>
        </appender>

        <appender name="ROLLING-FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
            <file>log/oxford3k.log</file>

            <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
                <fileNamePattern>log/oxford3k-%d{yyyy-MM-dd}-%i.log</fileNamePattern>
                <maxFileSize>1MB</maxFileSize>
                <maxHistory>30</maxHistory> <!-- days -->
                <totalSizeCap>100Mb</totalSizeCap>
            </rollingPolicy>

            <append>true</append>
            <immediateFlush>true</immediateFlush>
            <encoder>
                <pattern>%date{ISO8601} %level [%thread] %logger{30} - %msg%n</pattern>
            </encoder>
        </appender>

        <root level="warn">
            <appender-ref ref="CONSOLE"/>
            <appender-ref ref="ROLLING-FILE"/>
        </root>
        <logger name="ru.golovkin" level="info" additivity="false" >
            <appender-ref ref="ROLLING-FILE"/>
        </logger>
    </springProfile>
</configuration>